VITE_SUPABASE_URL=https://byhxltafmdkisasibedm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5aHhsdGFmbWRraXNhc2liZWRtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkwMzY1NDcsImV4cCI6MjEwNDYxMjU0N30.8yp9L7OJw35jgPvCXdQWCgC-jyN2evpiZ6Whh7cKCEA
SUPABASE_JWT_SECRET=wfmIyv20Ce4C40vLK7w4J7lj9hxVfHJIdBYOqoLhBS07jU0azZMOomO23hg1JmjbltoqgdqK7Kcji913a9+xYA==